<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>add item</title>
    <style>
        body{
            background-color: rgb(35,35,35);
        }
    
    </style>
</head>
<body>
    
    <form method="POST" action="/addItem">
        <input type="text" id="name" name="name" placeholder="name of the product" style="display: block; margin-top: 200px;margin-left: 500px;
        height: 30px;width: 350px;border: 3px solid #333;">
        
        <input type="text" id="dis" name="dis" placeholder="description" style="display: block; margin-top: 50px;margin-left: 500px;
        height: 30px;width: 350px;border: 3px solid #333;">
        
        <input type="text" id="path" name="path" placeholder="path for image" style="display: block; margin-top:50px;margin-left: 500px;
        height: 30px;width: 350px;border: 3px solid #333;">
        <input type="text" id="price" name="price" placeholder="price" style="display: block; margin-top:50px;margin-left: 500px;
        height: 30px;width: 350px;border: 3px solid #333;">

        <input type="submit"  style="display: block; margin-top:50px;margin-left: 550px;
        height: 30px;width: 220px;">
    </form>
    
</body>
</html>